$sprite: 1x1, 2x1, 3x1, 4x1,  4x2,  5x1,
6x1, 8x1, 9x1, 12x1, 13x1, 16x1;

@each $name in $sprite {
  .frame-#{$name} {
    background: url('../images/pc-icons/frame_#{$name}.png');
  }
  .frame-#{$name}-active {
    background: url('../images/pc-icons/frame_#{$name}-active.png');
  }
}